#{extends '../../main.html'/}
#{set title='Inscription'/}


*{Champs : mail password age }*

<form id="myForm" class="carre" action="@{auth.Inscription.endInscription}" method="post">
    <p class="logo"><img style="height: 100px" src="@{'/public/images/logo.png'}" alt="Photo de M2iPrime"></p>
    <h2 class="titre">FINALISER INSCRIPTION</h2>

    <label class="ask" for="pseudo">Pseudo</label>
    <input id="pseudo" name="pseudo" value="${flash['pseudo']}" type="text" placeholder="Pseudo" required>
    <small class="form-text text-muted error">#{error 'pseudo'/}#{if flash.contains("PseudoExiste")}Cet email est déjà
        utilisé.#{/if}</small>

    <p>Choisissez votre avatar : </p>
#{list items:avatars, as:'avatar'}
    <div class="row">
        <input type="radio" name="avatar" id="${avatar}" value="${avatar}"
               #{if avatar.equals(util.Images.DEFAULT_AVATAR_NAME)}checked#{/if}>
        <label for="${avatar}"><img src="@{"/public/images/avatars/"+avatar}" alt="${avatar}"></label>
    </div>
#{/list}

</form>