#{extends 'main.html'/}
#{set title='Connexion'/}

<div class="col">
    *{<h1 class="titre" >M2iPrime</h1>}*
    <p class="logo"><img style="height: 100px" src="@{'/public/images/logo.png'}" alt="Photo de M2iPrime"></p>

    #{if flash.get("DeletedAccount").equals("true")}
        <div>Votre compte bien été supprimé. Vous serez toujours le bienvenu si vous voulez revenir ;-)</div>
    #{/if}

        <h2 class="titre">Connexion</h2>

*{Champs : mail password }*
    #{form @authenticate()}

        #{if flash.error}
            <p class="error">
            ${messages.get(flash.error)}
            </p>
        #{/if}
        #{if flash.success}
            <p class="success">
            ${messages.get(flash.success)}
            </p>
        #{/if}

        <p id="username-field">
            <label class="ask" for="username">Email</label>
            <input type="email" name="username" id="username" value="${flash.username}" required />
        </p>
        <p id="password-field">
            <label class="ask" for="password">Mot de passe</label>
            <input type="password" name="password" id="password" value="" required />
        </p>
        <p id="remember-field" >
            <input class="ask" type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
            <label for="remember">Se souvenir de moi</label>
        </p>
        <p id="signin-field" class="bout">
            <input type="submit" id="signin" value="Se connecter" />
        </p>
    #{/form}
    <p class="liens"><a href="@{publ.Publ.motDePassePerdu()}">Mot de passe perdu</a></p>
    <p class="liens"><a href="@{publ.Inscription.formulaireInscription()}">Inscription</a></p>
</div>
