#{extends 'main.html'/}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@{controllers.auth.Auth.index()}">M2iPrime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropDownMainMenu" data-toggle="dropdown">
            #{if session.contains("profilActif")}}
                <img src="/public/images/avatars/${)}">
            #{/if}
            #{else}
                Menu
            #{/else}
            </button>
            <div class="dropdown-menu">
            #{if session.contains("profilActif")}
                #{list profils, as:'profil'}
                    #{if !session.get("profilActif").equals(profil.pseudo)}

                    #{/if}
                #{/list}
            #{/if}
                <a class="dropdown-item"
            </div>

        </div>
    </div>
</nav>

<div class="container">
    <div class="col">
    #{doLayout /}
    </div>
</div>