#{extends 'main.html'/}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@{controllers.auth.Auth.index()}">M2iPrime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        #{if session.contains("pseudoProfilActif")}
            <li class="nav-item">
                <a class="nav-link" href="@{controllers.auth.Profil.profil()}"><img class="img-thumbnail"
                                                                                    src="/public/images/avatars/${session.get("avatarProfilActif")}"
                                                                                    height="50px"
                                                                                    width="50px">Profil</a>
            </li>
        #{/if}
            <li class="nav-item">
                <a class="nav-link" href="@{Secure.logout()}">Déconnexion</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="col">
    #{doLayout /}
    </div>
</div>