#{extends 'main.html'/}
#{set title='Confirmation Inscription'/}

#{if flash.get('status').equals('OK')}
<h1>Félicitations, votre compte est maintenant activé !</h1>
<h4><a href="@{auth.Auth.index()}">Connexion</a></h4></br>
#{/if}

*{TODO passer email saisi en formulaire en param}*
#{if flash.get('status').equals('BadUtilisateur')}
    <h1>Votre demande d'inscription n'a pas pu être prise en compte</h1>
    <p>Veuillez saisir votre email</p></br>
    <form method="post" action="@{publ.Inscription.resentEmailForValidationToken()}">
        <div class="form-group">
            <label for="inputEmail">Email : </label>
            <input class="form-control" type="email" id="inputEmail" placeholder="Votre adresse email..." name="email">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer un mail de validation</button>
    </form>
#{/if}

#{if flash.get('status').equals('BadValidationToken')}
<h1>Votre demande d'inscription n'a pas pu être prise en compte</h1>
<p><a href="@{publ.Inscription.resentEmailForValidationToken(flash.get('utilisateurEmail'))}">Renvoyer un mail de validation</a></p>
#{/if}

<h4><a href="@{publ.Publ.index()}">Retour à l'accueil</a></h4>