#{extends 'main.html'/}
#{set title='Nouveau mot de passe'/}

*{Champs : password, passwordConfirmation }*
<div class="carre">
    <form id="myForm" class="carre" action="@{publ.Publ.validateNewPassword()}" method="post">
        <p class="logo"><img style="height: 100px" src="@{'/public/images/logo.png'}" alt="Photo de M2iPrime"></p>
        <h2 class="titre">CHANGEMENT DU MOT DE PASSE</h2>

        <input type="hidden" name="newPasswordDto.passwordResetRequestUuid" value="${passwordResetRequestUuid}">
        <input type="hidden" name="newPasswordDto.validationTokenUuid" value="${validationTokenUuid}">

        <label class="ask" for="inputPassword">Nouveau mot de passe</label>
        <input id="inputPassword" name="newPasswordDto.password" type="password" placeholder="Ton mot de passe avec 3 caractères minimum ..." minlength="3" maxlength="255" required>
        <small class="form-text text-muted error">#{error 'newPasswordDto.password'/}#{if flash.contains("PasswordConfirmationException")}Les mots de passe ne correspondent pas#{/if}</small>

        <label class="ask" for="inputPasswords">Confirmation du nouveau mot de passe</label>
        <input id="inputPasswords" name="newPasswordDto.passwordConfirmation" type="password" placeholder="Encore, juste pour être sûr" minlength="3" maxlength="255" required>
        <small class="form-text text-muted error">#{error 'newPasswordDto.passwordConfirmation'/}#{if flash.contains("PasswordConfirmationException")}Les mots de passe ne correspondent pas#{/if}</small>

        <p class="bout"><input id="bouton" type="submit" value="not OK!"  /></p>
    </form>
</div>