#{extends 'main.html'/}
#{set title='Nouveau mot de passe'/}

*{Champs : password, password }*

<form id="myForm" class="carre" action="@{publ.Publ.resetPassword()}" method="post">
    <p class="logo"><img style="height: 100px" src="@{'/public/images/logo.png'}" alt="Photo de M2iPrime"></p>
    <h2 class="titre">CHANGEMENT DU MOT DE PASSE</h2>

    <label class="ask" for="inputPassword">Nouveau mot de passe</label>
    <input id="inputPassword" name="inscriptionDto.password" type="password" placeholder="Ton mot de passe avec 3 caractères minimum ..." minlength="3" maxlength="255" required>
    *{<small class="form-text text-muted">#{error 'inscriptionDto.password'/}</small>}*

    <label class="ask" for="inputPasswords">Confirmation du nouveau mot de passe</label>
    <input id="inputPasswords" type="password" placeholder="Encore, juste pour être sûr" minlength="3" maxlength="255" required>

    <p class="bout"><input id="bouton" type="submit" value="not OK!"  /></p>
</form>