#{extends 'main.html'/}
#{set title='Changement de mot de passe'/}


<div class="carre">
    <h1>Votre demande de changement de mot de passe a été prise en compte</h1>
    <p>Un email de validation vous a été envoyé. </br>
        Veuillez cliquer sur le lien contenu dans l'email afin de pouvoir changer votre mot de passe. </br>
        Vous ne pourrez pas vous connecter tant que vous n'aurez pas cliqué sur ce lien. </br>
        Le lien restera actif pendant 5 min.</p></br>
    <h4><a href="@{auth.Auth.index()}">Retour à l'accueil</a></h4>
</div>