<html>
    <head>
        <title>Réinitialisation du mot de passe de votre compte M2iPrime</title>
    </head>
    <body>
        <h1>Réinitialisation du mot de passe de votre compte M2iPrime</h1>
        <p>Bonjour,<br/>
            Veuillez cliquer sur le lien ci-dessous pour définir votre nouveau mot de passe.<br/>
            <a href="@@{publ.Publ.defineNewPassword(passwordResetRequest.uuid, passwordResetRequest.validationToken.uuid)}" >
            Je définis un nouveau mot de passe</a>
        </p>
    </body>
</html>