
.enTete {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 225px;

    background: #8B90F7;
    background-size: contain;
}

.leftcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.M2iprime{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 394.56px;
    height: 76px;


}

.titreHead {
    width: 394.56px;
    height: 76px;

    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;

    color: #000000;
}

.logoFront {

    width: 82px;
    height: 59px;
}

.naviga{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: absolute;
    width: 1035.36px;
    height: 46px;
    left: 36px;
    top: 110px;


    font-family: Original Surfer;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.01em;

}

.navig1{

    width: 194.4px;
    height: 46px;

    text-decoration:none;
    color: #000000;
    background: #92B4E8;
}
.navig2{

    width: 194.4px;
    height: 46px;

    text-decoration:none;
    color: #000000;

    background: #92B4E8;
}

.navig3{

    width: 194.4px;
    height: 46px;

    text-decoration:none;
    color: #000000;
    background: #92B4E8;
}

.navig4{

    width: 194.4px;
    height: 46px;

    text-decoration:none;
    color: #000000;
    background: #92B4E8;
}
.navig5{

    width: 194.4px;
    height: 46px;

    text-decoration:none;
    color: #000000;
    background: #92B4E8;
}

.containernavigrecherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.barrederecherche{

    width: 1081.44px;
    height: 47.89px;
    left: 36px;
    /*top: 159.11px;*/

    background: #D0C9EC;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.boutonrecherche{

    width: 67.68px;
    height: 47.89px;

    /*top: 159.11px;*/

    background: url("/public/images/search.png"), #ACCB55;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.rightcorner{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;

}
.userPicture{

    border-radius:100%;
    width: 121px;
    height: 83.94px;

    /*top: 7px;*/
    background:#ACCB55;
}
.profile{

    width: 103.94px;
    height: 34.06px;

    /*top: 90.94px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.deconnexion{


    /*top: 111px;*/

    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 17px;
    /*text-align: center;*/
    letter-spacing: 0.01em;

    color: #000000;
    background: #EC5A5A;
    /* Gray 2 */
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
}

.rechercheavance{
    width: 198px;
    height: 58px;
    text-align: center;
    background: #92B4E8;
}

.boitedeconnexion{
    width: 164.16px;
    height: 30px;
    text-align: center;
}


.textrechercheavancer{
    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    letter-spacing: 0.01em;
    text-decoration:none;
    color: #532EE7;
}

.containernavigrecherche{
    display: flex;
    flex-direction: column;

}





.piedPage{
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/

    width: 100%;
    height: 64px;
    left: 0px;
    top: 1328px;

    background: #8B90F7;
}
.navigpied{
    display: flex;
    flex:1 1 auto;
    flex-direction: row;
    justify-content: space-evenly;

    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 17px;
    letter-spacing: 0.01em;

}

.foot{
    display: flex;
    flex-direction: row;
}

.navigp1{

    width: 145.44px;
    height: 64px;
    /*left: 28.8px;*/


    text-decoration:none;
    color: #000000;
}
.navigp2{

    width: 159.84px;
    height: 64px;
   /* left: 434.88px;*/

    text-decoration:none;
    color: #000000;
}
.navigp3{

    width: 174.24px;
    height: 64px;
    /*left: 856.8px;*/

    text-decoration:none;
    color: #000000;
}

.copyright{
    display: flex;
    width: 204.48px;
    height: 64px;
    align-self: flex-end;
    justify-content: flex-end;

    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 17px;
    letter-spacing: 0.01em;

    color: #000000;

}