
.fond {
    position: absolute;
    width:100%;
    height:100%;
    background-size: contain;
}


.titre {
    width: 100%;
    top: 2%;
    text-align: center;
    padding-bottom: 5px;
}

.logo {
    top: 2%;
    text-align: center;
    padding-bottom: 5px;
}

input[type=email], input[type=password],  select {
    width: 90%;
    padding: 8px 10px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.carre {
    opacity: 0.8;
    position: relative;
    width: 60%;
    height: 80%;
    background-color: #69c8ff;
    border: 3px solid green;
    border-radius: 20px;
    margin: 20px 20% 0 20%;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;*/

}
.ask{
	margin-left: 10px;
}
#birthdate{
	margin-left: 20px;
	border-radius: 5px;
}

#seizeans{
	color: darkred;
}

#bouton {
	background-color: #4CAF50;
}
#used{
	color: darkredred;
	text-align: right;
	margin-right: 10px;
}

.bout{
text-align: right;
margin-right: 25px;
}
.liens {
    left: 0;
    width: 100%;
    bottom: 5px;
    text-align: center;
}

.appear{
	visibility: hidden;
}