<header class="enTete">

    <div class="leftcontainer">
        <div class="M2iprime">
            <h1 class="titreHead">M2i Prime</h1>
            <img class="logoFront" src="/public/images/logo.png" alt="Photo de M2iPrime" />
        </div>

        <nav class="naviga">
            <a class="navig1" href="Pagefront.html">Acceuil</a>
            <a class="navig2" href="#">A-Z liste</a>
            <a class="navig3" href="#">Genre</a>
            <a class="navig4" href="#">Nouveau</a>
            <a class="navig5" href="#">Populaire</a>
        </nav>

        <form class="containerrecherche">
            <input class="barrederecherche" type="text" placeholder="Rechercher un Film" minlength="3" maxlength="30" required>
            <input class="boutonrecherche"  type="submit" value="" />
        </form>
    </div>

    <div class="rightcorner">
        <img class="userPicture" src="/public/images/user.png" href="#" alt="Photo de M2iPrime"/>
        <a class="profile" href="#">Profile</a>
        <div class="boitedeconnexion"><a class="deconnexion" href="#">Deconnexion</a></div>
        <div class="rechercheavance"><a class="textrechercheavancer" href="#">Recherche <br> Avancée</a></div>
    </div>

</header>




