#{extends '../menu.html' /}
#{set title:'Compte & Abonnement' /}

<div class="col">
    <h1 class="title">M2iPrime</h1>
    #{if session.contains("profilActif")}
        <h3 class="title">${session.get("profilActif")}</h3>
    #{/if}
    #{else}
    #{/else}

    <h4 class="title ">Compte et Abonnement</h4>

    <form id="myForm" class="col" action="@{auth.AccountController.deleteAccount()}" method="post">
        <h5 class="titre">Supprimer le compte</h5>

        <label class="ask" for="inputEmail">Adresse Email</label>
        <input id="inputEmail" name="deleteAccountDto.email" value="${flash['deleteAccountDto.email']}" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Ton adresse e-mail ..." required>

        <label class="ask" for="inputPassword">Mot de passe</label>
        <input id="inputPassword" name="deleteAccountDto.password" type="password" placeholder="Ton mot de passe avec 3 caractères minimum ..." minlength="3" maxlength="255" required>
        <small class="form-text text-muted">#{error 'deleteAccountDto.password'/}</small>

        <label class="ask" for="inputPasswords">Confirmation du mot de passe</label>
        <input id="inputPasswords" name="deleteAccountDto.passwordConfirmation" type="password" placeholder="Encore, juste pour être sûr" minlength="3" maxlength="255" required>
        <small class="form-text text-muted error">#{error 'deleteAccountDto.passwordConfirmation'/}#{if flash.contains("PasswordConfirmationException")}Les mots de passe ne correspondent pas#{/if}</small>

        <p class="bout"><input id="bouton" type="submit" value="not OK!"  /></p>
    </form>

</div>